/*@font-face {
    font-family: gamergirl;
    src: url(/font/eskilfont.ttf);
}
*/
@font-face {
    font-family: myFirstFont;
    src: url(eskilfont.ttf);
}

html {
	width:100%;
	height:100%;
}
body {
	background-size: cover;
	background-image: url('./pics/background2.jpg');
	overflow:hidden;
	margin: 0px !important;
    padding: 0px !important;
    	width:100%;
	height:100%;
}
#container {
	width:100%;
	height:100%;
}

#content{
	margin:0 auto;
	width:90%;
	margin-top:20px;
}
#kortstokk{
	width:18%;
	float:left;
}
#kortstokk1{
	width:90%;
	margin:0 auto;
	background-size:100%100%;

}
#allekort{
	width:78%;
	float:right;
	margin-top:15px;
}
.kortContainer{
	width:25%;
	float:left;
	height:500px;
}

.kort{
	z-index: 1;
	position: absolute;
	width:13%;
	border-radius:7px;
}

#startpaanytt{
	width:60%;
	margin:0 auto;
	background-image:url('./pics/retry.png');
	background-size:100% 100%;
	height:80px;
}

#newGameShaddow {
	position: absolute;
	height:100%;
	width: 100%;
	background: black;
	opacity: 0.5;
	z-index: 60;
	margin-top:-20px;
}
#newGame {
	position: absolute;
	width: 30%;
	left:40%;
	top:45%;
	z-index: 100;
	height:10%;
}
#newGameButton {
	position: absolute;
	width: 45%;
	left:55%;
	top:5%;
	float:left;
	font-size: 10px;
	background-image:url('./pics/retry.png');
	background-size:100% 100%;
	height:60px;
}
#newGameButtonCancel {
	position: absolute;
	width: 45%;
	left:0%;
	top:5%;
	background-image:url('./pics/back.png');
	background-size:100% 100%;
	height:60px;
}

#winnerLooserHolder {
	position: absolute;
	width:40%;
	left:30%;
	top:30%;
	z-index: 150;
	text-align: center;
	color:#fff;
	font-size: 30px;
	font-style: gamergirl;
}